@model IEnumerable<Product>

<div class="row pb-3">
	@foreach (var product in Model)
	{
		@* lg=large device 每行顯示 12/3 = 4個；sm=small device 每行顯示2個 *@
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					@* // rounded 圓角 *@
					<div class="card border-0 p-3 shadow border-top border-5 rounded">
						<div class="card-img-top" style="height:200px; overflow:hidden">
							<img src="@product.ImageUrl" class="card-img-top rounded" style="object-fit: fill" />
						</div>
						<div class="card-body pb-0">
							<div class="pl-1">
								<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
								<p class="card-title text-warning text-center">by <b>@product.Author</b></p>
							</div>
							<div class="pl-1">
								<p class="text-dark text-opacity-75 text-center mb-0">定價: <span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span></p>
							</div>
							<div class="pl-1">
								<p class="text-dark text-opacity-75 text-center">最低: <span>@product.Price100.ToString("c")</span></p>
							</div>
						</div>
						<div>
							<a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
								詳細
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
